.new_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.new_post h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem 0;
}

.form_control {
    display: flex;
    flex-direction: column;
}

.form_control label {
    margin-bottom: 0.5rem;
}

.form_control input,
.form_control textarea {
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
}

.form_control textarea {
    max-width: 100%;
    width: 100% !important;
    min-height: 200px;
    max-height: 550px;
}