.post_container {
  width: 100%;
  max-width: 350px;
  min-height: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 0.5rem;
}

.post_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.post_title h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primary);
  flex: 1 0 84px;
}

.post_container img {
  margin-top: 1rem;
  border-radius: 3px;
}

.post_container p {
  font-size: 14px;
  color: var(--gray);
}

.post_link {
  width: 100%;
  margin-top: 2rem;
}

.loadMoreButton {
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border: .2rem solid transparent;
}

.loadMoreButton:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
}