.postDetail {
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.postDetail h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  max-width: 30rem;
  width: 100%;
  font-size: 1.6rem;
  text-align: justify;
}