* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: #ae12ab;
    --primary: #881486;
    --black: #111;
    --secondary: #222;
    --white: #FFF;
    --gray: #a9abb3;
}


body {
    background-color: #111;
    color: var(--white);
}

html {
    font-size: 62.5%;
}

ul,
li,
a {
    width: max-content;
    list-style: none;
    text-decoration: none;
    color: var(--white);
}

input,
button,
textarea {
    outline: none;
    border: none;
}

p {
    color: var(--gray-text);
}