.home {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details {
    color: var(--white);
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    transition: .1s;
    align-items: flex-end;
    opacity: 0.7;
}

.details:hover {
    opacity: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}