.loading {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  background-color: var(--secondary);
  z-index: 999;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-top: 0.4rem solid var(--primary);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}

.messageLoading {
  font-size: 1.6rem;
  color: var(--white);
}