.footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border-top: 3px solid var(--black);
  background-color: var(--secondary);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}