.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem 2rem;
}

.container_album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  justify-content: center;
  gap: 2rem;
}

.album {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 1rem;
  position: relative;
}

.album p {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
}

.photoCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.photoCard img {
  border-radius: 8px;
}

.loadMoreButton {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadMoreButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}